body {
  font-family: 'Barlow Condensed', sans-serif;
}

.column {
  flex: 33%;
  max-width: 33%;

}

.column img {
  height: 25vh;
  margin-top: 8px;
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  width: 80%;
  /* text-align: center; */
  margin-right: 20px;
  align-self: center;
  text-align: right;
  text-decoration: none;
}

.russ-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* margin: auto; */
  /* width: 80%; */
  /* text-align: center; */
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.button {
  text-align: center;
  box-shadow: 3px 3px #999;
  background-color: whitesmoke;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  margin: 10px;
  padding: 7px 12px;
  cursor: default;
  border: solid 1px gray;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

#projects {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#headline {
    padding-top: 5%;
}



a {
  text-decoration: none;
}

footer {
  padding-top: 5%;
}

footer li {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

nav {
    background-color: #dddddd;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ol,
footer ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  font-weight: bold;
  padding-right: 5%;
  padding-left: 5%;
  
}

nav li a:hover {
    color: #000000;
  }

svg {
  width: 25px;
  height: auto;
  padding-right: 5%;
}

@media (max-width: 900px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }